* {
    padding: 0;
    margin: 0;
}

body {
    color: rgb(27, 27, 27);
    padding: 1em 0;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', monospace;
}

#btn-create-product {
    position: fixed;
    right: 1em;
    width: 2em;
    height: 2em;
    color: green;
    background-color: transparent;
    border: 1px solid green;
    box-shadow: 0 0 10px rgba(0, 255, 13, 0.5);
    transition: 0.7s;
    cursor: pointer;
}

#btn-create-product:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#create-product-box {
    width: 50%;
    margin: 1em;
}

#search-box {
    width: 90%;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

#search-box input {
    padding: 0.5em 1em;
    background-color: rgb(235, 235, 235);
    width: 100%;
    border: none;
    border-radius: 10px;
}

#products-table {
    width: 90%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;    
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.item-row, #create-product-box {
    background-color: rgb(235, 235, 235);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.row-header {
    display: flex;
}

.row-delete, #empty-create {
    height: 1.5em;
    width: 1.5em;
    padding: 0.3em;
    color: rgb(231, 231, 231);
    background-color: rgb(180, 0, 0);
    border: none;
    font-weight: 900;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#empty-create {
    width: auto;
    line-height: 0.8em;
    font-size: 0.7em;
    padding: 1em;
}

.row-delete:hover, #empty-create:hover {
    background-color: rgb(231, 231, 231);
    color: rgb(180, 0, 0);
    transition: 0.6s;
}

.item-row p, #create-product-box p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.item-row input, #create-product-box input, select, option {
    padding: 0.4em 1em;
    width: 80%;
    border: none;
    border-radius: 10px;
}

.row-update {
    padding: 0.3em;
    color: rgb(231, 231, 231);
    background-color: rgb(180, 0, 0);
    border: none;
    font-weight: 900;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 0px 0px 10px 10px;
}

.row-update:hover {
    background-color: rgb(231, 231, 231);
    color: rgb(180, 0, 0);
    transition: 0.6s;
}